page-login {


  .scroll-content{

    background: url("../../assets/imgs/background2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

  }
  .inputBox{
    background-color: rgba(255, 255, 255, 0.3
    );

    border-radius: 64px;
    margin-top: 5px;
    color: white;

  }

  .rememberMe{
    background-color: transparent;
    color: #ffffff;
    font-size: small;

  }

  img {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
  }

/*
  .col{
     background: whitesmoke;
     border:  solid black;
  }
  div{
    background: whitesmoke;
    border:  solid blue;
  }*/
 ion-col div{
   text-align: start !important;
 }
}
