<ion-header>

  <ion-navbar>
    <ion-title>Yeni Fırsat Ekle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-item>
      <ion-label>Url *</ion-label>
      <ion-input [ngModel]
                 type="url"
                 required
                 name="deal_url"
                 (ionChange)="onUrlChange($event)"
                 placeholder="www.alisverissitem.com/urun.aspx?kod=1123"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fiyat</ion-label>
      <ion-input [ngModel]
                 type="number"
                 name="deal_price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Kategori *</ion-label>
      <ion-select required
                  [ngModel]
                  name="selectedCategory"
                  multiple="true">
        <ion-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Şehir *</ion-label>
      <ion-select required
                  [ngModel]
                  name="selectedCity">
        <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Kupon Codu</ion-label>
      <ion-input [ngModel] type="text"
                 name="deal_coupon_code"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Başlık *</ion-label>
      <ion-input [ngModel] = 'deal_title'
                 type="text"
                 required
                 name="deal_title" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Detaylar *</ion-label>
      <ion-textarea [ngModel] ='deal_details'
                    required
                    name="deal_details" ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Tarih *</ion-label>
      <ion-datetime [ngModel]
                    required
                    displayFormat="DD MM, YYYY"
                    name="deal_date"></ion-datetime>
    </ion-item>
    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<ion-col>-->
          <!--<button-->
            <!--ion-button-->
            <!--outline-->
            <!--block-->
            <!--type="button"-->
            <!--icon-left-->
            <!--(click)="onLocate()">-->
            <!--<ion-icon name="locate"></ion-icon>-->
            <!--Konumumu ekle-->
          <!--</button>-->
        <!--</ion-col>-->
        <!--<ion-col>-->
          <!--<button ion-button-->
                  <!--outline-->
                  <!--block-->
                  <!--icon-left-->
                  <!--(click)="onOpenMap()"-->
                  <!--type="button"-->
                  <!--&gt;-->
            <!--<ion-icon name="map"></ion-icon>-->
            <!--Haritada seç-->
          <!--</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<ion-row  *ngIf="isLocationSet">-->
        <!--<ion-col>-->
          <!--<sebm-google-map-->
            <!--[longitude]="location.lng"-->
            <!--[latitude]="location.ltt"-->
            <!--[zoom]="16">-->
            <!--<sebm-google-map-marker-->
              <!--[longitude]="location.lng"-->
              <!--[latitude]="location.ltt"></sebm-google-map-marker>-->
          <!--</sebm-google-map>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<ion-row>-->
        <!--<ion-col text-center>-->
          <!--<h5>Fotoğraf yükle</h5>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<ion-row>-->
        <!--<ion-col>-->
          <!--<button block-->
                  <!--ion-button-->
                  <!--(click)="onTakePhoto()"-->
                  <!--outline-->
                  <!--icon-left-->
                  <!--type="button"-->
          <!--&gt;<ion-icon name="camera"></ion-icon>-->
          <!--Kamerayı Aç-->
          <!--</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <ion-item>
      <ion-label style="white-space: normal;color: #aaaaaa">Lütfen fırsatta görünmesini istediğiniz görseli seçin.</ion-label>
    </ion-item>
    <ion-grid>
      <ion-scroll scrollX="true" direction="x">
        <ion-row>
          <ion-col>
            <ion-card #picture *ngFor="let image of images" (click)="onPictureSelect(picture)" [@onPictureSelectAnimation]="picture.isSelected ? 'toSelected' : 'default'">
              <img src="{{image}}">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-scroll>
      <ion-row>
        <ion-col>
          <button ion-button
                  type="submit"
                  block
                  color="secondary"
                  [disabled]="!f.valid">Fırsatı Yarat</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
