page-create-new-deal {

  sebm-google-map{
    height: 250px;
  }
  .scroll-zoom-wrapper {
    white-space: nowrap;
  }

  ion-card {
    margin-top: 30px;
    width: 150px !important;
    height: 150px !important;
    display: inline-block;
  }

  ion-scroll {
    min-height: 170px;
    height: 190px;

    .scroll-content {
      padding: 0px !important;
    }
  }
}
