<div style="margin-top: 16px;background-color:#E5E5E5;border-radius: 20px 20px 20px 20px;transform: scale(0.9)">
  <ion-row style="background-color: #F7E60F;border-radius: 20px 20px 20px 20px">
    <ion-col col-2>
      <ion-avatar>
        <img style="border-radius: 20px;height: 40px;width: 40px;" src="{{comment.user.avatar_url}}">
      </ion-avatar>
    </ion-col>
    <ion-col style="padding: 0px !important;display: flex;align-items: center" col-8>
      <span style="font-family: MarkPro-Heavy;font-size: 15px;color:#234491">{{comment.user.name}}</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="margin: 5px">
        <span *ngIf="comment.showContent"
              [@onCommentExpand]="comment.showContent ? 'toExpand' : 'asd'">{{comment.text}}</span>
      <span  style="font-family: MarkPro-Book;font-size: 15px;color:#234491" (click)="comment.showContent = !comment.showContent" *ngIf="!comment.showContent">{{comment.text}}</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 push-7>
      <img style="margin-bottom: -38px" (click) = "onCommentReply({comment:comment,opportunity:opportunity})" src="assets/imgs/reply_icon@3x.png">
    </ion-col>
    <ion-col col-3 push-7>
      <img #thumbsUp  style="margin-bottom: -21px" (click)="onItemBump(i,thumbsUp)" src="assets/imgs/thumb_up_icon@3x.png">
      <span style="position: fixed;top: 83%;left: 91%;font-family: MarkPro-Heavy;font-size: 14px;color: #234491;">{{comment.comment_votes_count}}</span>
    </ion-col>
  </ion-row>
</div>
<div style="padding-left: 15%;
              padding-top: 5%"
     *ngFor="let subComment of comment.comments;let i=index">
  <comment *ngFor="let subComment of comment.comments;let i=index" id="{{comment.newlyAdded}}" [comment]="subComment"
           ngClass="highlighted">
  </comment>
</div>
