<ion-header>
  <ion-toolbar style="position: initial !important;">
    <ion-grid style="padding: 0 5px 0 5px">
      <ion-row no-padding align-items-center style="justify-content: space-between">
        <ion-col col-auto no-padding>
          <img style="min-width:80px;max-width: 100px;padding: 0" (click)="toTabsPage()" src="assets/svgs/main_logo.svg">
        </ion-col>
        <ion-col col-6 style="white-space: nowrap;padding: 0px;max-width: 200px;margin-left: 10px">
          <img src="assets/svgs/tam_bagimsiz_firsat_sitesi.svg">
        </ion-col>
        <ion-col col-auto>
          <button ion-button
                  menuToggle
                  class="menu-button">
            <img src="assets/svgs/menu_lines.svg">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <!--<img src="../../assets/svgs/fikrini_soyle_button.svg" style=" position: fixed;-->
    <!--z-index: 10;-->
    <!--height: 50px;-->
    <!--width: 50px;-->
    <!--right: 10px;-->
    <!--top: 160px;-->
    <!--opacity: 0.8;"-->
       <!--(click)="openFeedbackDiv()">-->

  <!--<feedback *ngIf="feedbackDivOpen"></feedback>-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <list-deal *ngFor="let opportunity of opportunities" [opportunity]="opportunity">
  </list-deal>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Yükleniyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
