<!--<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <button *ngIf="lol" style=" outline: none;
    border: none;
    background: none;">
        <img style="width:110px;position:fixed;right: 0px;margin-right:10px;z-index:999;margin-top: -20px" src="assets/imgs/logo.png">
      </button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-item>
        <ion-row align-items-center>
          <ion-col col-2>
            <img src="../assets/imgs/search_icon@2x.png">
          </ion-col>
          <ion-col style="margin-bottom: 25px;">
            <img src="../assets/imgs/search_box@2x.png" style="position:absolute;height: 25px">
            <input (keypress)= "onSearchEvent($event)" class="search" type="text" style="position: absolute;height: 25px;width: 120px;margin-left: 10px;">
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngIf="!isAuthenticated" no-lines>
        <ion-row align-items-center (click)="onSignin()">
          <ion-col col-2>
            <img src="assets/imgs/logout_icon@3x.png">
          </ion-col>
          <ion-col>
            <span class="menu-text">GİRİŞ YAP</span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngIf="isAuthenticated">
        <ion-row align-items-center (click) = "onSettings()">
          <ion-col col-2>
            <img src="assets/imgs/profilim_icon@3x.png">
          </ion-col>
          <ion-col>
            <span class="menu-text">PROFİLİM</span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngIf="isAuthenticated">
        <ion-row align-items-center (click) = "onMyDeals()">
          <ion-col col-2>
            <img src="assets/imgs/firsatlarim_icon@3x.png">
          </ion-col>
          <ion-col>
            <span class="menu-text">FIRSATLARIM</span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngIf="isAuthenticated">
        <ion-row align-items-center (click) = "onNotifications()">
          <ion-col col-2>
            <img src="assets/imgs/puan_tablosu_icon@3x.png">
          </ion-col>
          <ion-col>
            <span class="menu-text">PUAN TABLOSU</span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngIf="isAuthenticated">
        <ion-row align-items-center  (click)="onLogout()">
          <ion-col col-2>
            <img src="assets/imgs/logout_icon@3x.png">
          </ion-col>
          <ion-col>
            <span class="menu-text">ÇIKIŞ YAP</span>
          </ion-col>
        </ion-row>
      </ion-item>
  </ion-content>
</ion-menu>-->

<ion-nav [root]="rootPage" #nav></ion-nav>
