// http://ionicframework.com/docs/theming/
@keyframes heartbeat
{
  0%
  {
    transform: scale( .95 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .95 );
  }
  60%
  {
    transform: scale( 1.5 );
  }
  80%
  {
    transform: scale( .95 );
  }
  100%
  {
    transform: scale( .95 );
  }
}

.animate-hearth{
  animation: heartbeat 1s infinite;
  //color: #E2222C;
}
.toolbar-background {

  background-image: url('../assets/imgs/bottom_bar@2x.png') !important;
  background-repeat: round !important;
}
.toolbar *{
  color:#eee;
}

ion-list{
  margin-top: 20px !important;
}
.button{
  text-transform: none !important;
}
.menu-inner > ion-content {

  .item{
    background: transparent;

  }
  background-image: url('../assets/imgs/menu_bar_opened_bg@3x.png') !important;

}
.search{
  outline: none;
  background-color: unset;
  color: #234491;
  border: 0px solid;
}

.item-md .item-button{
  height: 60px;
}
.item-ios .item-button{
  height: 60px;
}

.item-md.item-block .item-inner{
  border-bottom: 1px solid #F7E60F;
}

.menu-text{
  color: #F7E60F !important;
  font-family: MarkPro-Medium;
  font-size: 12px;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
  &[class*="benimFirsatim-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    border: 0px;
    mask-repeat: no-repeat;
    background: currentColor;
    border-radius: 100%;
    border-color: rgba(27, 0, 255, 0);
    border-color: black;
  }
  // custom icons
  &[class*="benimFirsatim-oneCikanlar"] {
    mask-image: url('../assets/svgs/onecikanlar.svg');
  }
  &[class*="benimFirsatim-yukselenler"] {
    mask-image: url('../assets/svgs/yukselenler.svg');
  }
  &[class*="benimFirsatim-yeniler"] {
    mask-image: url('../assets/svgs/yeniler.svg');
  }
  &[class*="benimFirsatim-kategoriler"] {
    mask-image: url('../assets/svgs/kategoriler.svg');
  }
}
