list-deal {
/*
.col{
  border:1px solid black;
}
  .row{
    border: 1px solid black;
  }
*/

  .scroll-content{
    padding: 0px !important;
  }

  .logoComesFromLeft{
    animation: logoAnimation 1.5s forwards;
  }

  @keyframes logoAnimation {

    0% {
      transform: translateX(-350px)
    }

    100%{
      transform: translateX(0px)
    }

  }

  ion-card {
    box-shadow: none !important;

  }
  .like-comment-inspan{
    font-family: MarkPro-Heavy;
    color: #234491;
    font-size: 20px;
  }

  .share-buttons{
    .col{
      padding: 0;
    }
  }


}

