list-deal {
/*
.col{
  border:1px solid black;
}
  .row{
    border: 1px solid black;
  }
*/

  .scroll-content{
    padding: 0px !important;
  }

  .logoComesFromLeft{
    animation: logoAnimation 1.5s forwards;
  }

  @keyframes logoAnimation {

    0% {
      transform: translateX(-350px)
    }

    100%{
      transform: translateX(0px)
    }

  }

  ion-card {
    box-shadow: none !important;
    border-bottom:1px solid #234491;
  }

  .title{
    font-family: MarkPro-Heavy;
    font-size: 20px;
    color:#234491;
  }

  .like-comment-inspan{
    font-family: MarkPro-Heavy;
    font-size: 11px;
    position: absolute;
    top: 30%;
    left: 65%;
    transform: translate(-50%,-50%);
    color: #234491;
  }


}

