<!--
  Generated template for the OnCommentReplyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-navbar text-center hideBackButton="true">
      <img (click)="goBack()" style="max-width: 30px;position: fixed;left: 16px" src="assets/imgs/back_button@3x.png">
      <span style="color: #F7E60F;font-family: MarkPro-Heavy;font-size: 15px">Yorum Cevapla</span>
    </ion-navbar>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-item [ngClass]="itemone ? 'toLogoUp' : 'toLogoDown'" text-wrap>
    <p><b>{{comment.user.name}}</b> tarafından yapılan yoruma cevap vermektesiniz.</p>
    <ion-grid [ngClass]="itemtwo ? 'toLogoUp' : 'toLogoDown'" >
      <div style="margin-top: 16px;background-color:#E5E5E5;border-radius: 20px 20px 20px 20px;transform: scale(0.9)">
        <ion-row style="background-color: #F7E60F;border-radius: 20px 20px 20px 20px">
          <ion-col col-2>
            <ion-avatar>
              <img style="border-radius: 20px;height: 40px;
    width: 40px;" src="{{comment.user.avatar_url}}">
            </ion-avatar>
          </ion-col>
          <ion-col style="padding: 0px !important;display: flex;align-items: center;text-align: initial" col-8>
            <span style="font-family: MarkPro-Heavy;font-size: 15px;color:#234491">{{comment.user.name}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="margin: 5px;text-align: initial">
        <span *ngIf="comment.showContent"
              [@onCommentExpand]="comment.showContent ? 'toExpand' : 'asd'">{{comment.text}}</span>
            <span  style="font-family: MarkPro-Book;font-size: 15px;color:#234491" (click)="comment.showContent = !comment.showContent" *ngIf="!comment.showContent">{{comment.text}}</span>
          </ion-col>
        </ion-row>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col col-10 push-2>
            <div no-padding style="background-color:#E5E5E5;border-radius: 20px 20px 20px 20px;transform: scale(0.9)"
                 *ngFor="let subComment of comment.comments" id="{{subComment.newlyAdded}}" ngClass="highlighted">
              <ion-row  style="background-color: #F7E60F;border-radius: 20px 20px 20px 20px">
                <ion-col col-3>
                  <ion-avatar>
                    <img style="border-radius: 20px;height: 40px;
    width: 40px;" src="{{subComment.user.avatar_url}}">
                  </ion-avatar>
                </ion-col>
                <ion-col style="padding: 0px !important;display: flex;align-items: center;text-align: initial" col-8>
                  <span style="font-family: MarkPro-Heavy;font-size: 15px;color:#234491">{{subComment.user.name}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="margin: 5px;text-align: initial">
              <span *ngIf="subComment.showContent"
                    [@onCommentExpand]="subComment.showContent ? 'toExpand' : 'asd'">{{subComment.text}}</span>
                  <span  style="font-family: MarkPro-Book;font-size: 15px;color:#234491" (click)="subComment.showContent = !subComment.showContent" *ngIf="!subComment.showContent">{{subComment.text}}</span>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-item>
</ion-content>
<ion-footer>
  <form #f="ngForm" (submit)="onCommentSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item no-lines>
            <ion-input required [ngModel] name="comment" style="padding:0 0 0 10px;font-size:15px;background-color: #f0ecec;border-radius: 64px" type="text" placeholder="Düşüncelerin neler ?"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2 text-center align-self-center style="background: white">
          <button type="submit"
                  [disabled]="!f.valid" style="background: white">
            <img src="assets/imgs/dusuncelerin_neler_icon@3x.png">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
