page-on-comment-reply {
  #newlyAdded.highlighted {
    background-color: lightgoldenrodyellow;
    animation: toHighlight 1s;
  }
  @keyframes toHighlight {
    0%
    {
      opacity: 0;
    }
    100%
    {
      opacity: 1;
    }
  }
}
