<!--
  Generated template for the OnCommentReplyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Yorum cevapla</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item [ngClass]="itemone ? 'toLogoUp' : 'toLogoDown'" text-wrap>
    <p><b>{{comment.user.name}}</b> tarafından yapılan yoruma cevap vermektesiniz.</p>
    <ion-grid [ngClass]="itemtwo ? 'toLogoUp' : 'toLogoDown'" >
      <ion-row  style="padding-top: 5%;">
        <ion-col col-2>
          <ion-avatar>
            <img style="border-radius: 10px" src="{{comment.user.avatar_url}}">
          </ion-avatar>
        </ion-col>
        <ion-col col-10 style="border:1px solid #eee;border-radius:10px;">
          <strong class="nickname">{{comment.user.name}}</strong>
          <em class="votes"> {{comment.comment_votes_count}} Puan</em>
          <ion-row>
            <ion-col>
      <span *ngIf="comment.showContent"
            [@onCommentExpand]="comment.showContent ? 'toExpand' : 'asd'">{{comment.text}}</span>
              <span (click)="comment.showContent = !comment.showContent" *ngIf="!comment.showContent">{{comment.text}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <button #thumbsUp
                      ion-button
                      small
                      color="light"
                      block
                      (click)="onCommentLike()">
                <ion-icon name="thumbs-up" style="margin:5px;"></ion-icon>
                <span> Begen</span>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <div style="padding-left: 15%;padding-top: 5%"
           *ngFor="let subComment of comment.comments" id="{{subComment.newlyAdded}}" ngClass="highlighted">
        <ion-row style="padding-top: 5%;">
          <ion-col col-2>
            <ion-avatar>
              <img style="border-radius: 10px" src="{{subComment.user.avatar_url}}">
            </ion-avatar>
          </ion-col>
          <ion-col col-10 style="border:1px solid #eee;border-radius:10px;">
            <strong class="nickname">{{subComment.user.name}}</strong>
            <em class="votes"> {{subComment.comment_votes_count}} Puan</em>
            <ion-row>
              <ion-col>
      <span *ngIf="subComment.showContent"
            [@onCommentExpand]="subComment.showContent ? 'toExpand' : 'asd'">{{subComment.text}}</span>
                <span (click)="subComment.showContent = !subComment.showContent" *ngIf="!subComment.showContent">{{subComment.text}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <button #thumbsUp
                        ion-button
                        small
                        color="light"
                        block>
                  <ion-icon name="thumbs-up" style="margin:5px;"></ion-icon>
                  <span> Begen</span>
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-item>
</ion-content>
<ion-footer>
  <form #f="ngForm"
        (ngSubmit)="onCommentSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input style="padding-top: 5%;padding-left: 10%"
                     [ngModel] type="text"
                     placeholder="Yorum yaz..."
                     name="comment"
                     required></ion-input>
        </ion-col>
        <ion-col>
          <button style="padding-left: 5%"
                  ion-button
                  [disabled]="!f.valid"
                  type="submit"
                  clear>
            <ion-icon style="font-size: 2.6em"
                      name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
