<ion-header>
  <ion-toolbar style="position: initial !important;">
    <ion-grid style="padding: 0 5px 0 5px">
      <ion-row no-padding align-items-center style="justify-content: space-between">
        <ion-col col-auto no-padding>
          <img style="min-width:80px;max-width: 100px;padding: 0" (click)="toTabsPage()" src="assets/svgs/main_logo.svg">
        </ion-col>
        <ion-col col-6 style="white-space: nowrap;padding: 0px;max-width: 200px;margin-left: 10px">
          <img src="assets/svgs/tam_bagimsiz_firsat_sitesi.svg">
        </ion-col>
        <ion-col col-auto>
          <button ion-button
                  menuToggle
                  style="margin:0px">
            <img src="assets/svgs/menu_lines.svg">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <list-deal *ngFor="let opportunity of opportunities" [opportunity]="opportunity"></list-deal>

<!--    <ion-card [ngClass]="{'logoComesFromLeft':logoComesFromLeft}" style="padding-top: 20px"  *ngFor="let opportunity of opportunities">
      <ion-row >
        <ion-col text-center>
          <span style="font-size: large;font-weight: 600">{{opportunity.title.substring(0,70)+'...'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img style="width:100%;height:100%;" src="https://benimfirsatim.com/{{opportunity.image_url}}">
        </ion-col>
        <ion-col style="padding: 10px">
          {{opportunity.details.substring(0,100)+'...'}}
        </ion-col>
      </ion-row>



      <ion-row text-center>
        <ion-col>
          <ion-chip>
            <ion-icon name="pricetag"></ion-icon>
            <ion-label>{{opportunity.price}} ₺</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip >
            <ion-icon name="heart" color="danger" class="animate-hearth"></ion-icon>
            <ion-label >{{opportunity.votes_sum}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip color="calm">
            <ion-icon name="text"></ion-icon>
            <ion-label>{{opportunity.comments_count}} Yorum</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button
            ion-button
            round
            color="button"
            (click)="onOpportunityPage(opportunity)"
            block>Fırsat Detayları</button>
        </ion-col>
      </ion-row>
  </ion-card>-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Yükleniyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

