feedback {

  .feedbackDiv{
    width: 70%;
    height: 55%;
    top: 50%;
    right: 50%;
    border-radius: 45px;
    border: 3px solid #234491;
    transform: translate(50%,-50%);
    position: fixed;
    z-index: 12;
    background-color: white;

  }

  .backgroundDiv{

    width: 100%;
    height: 100%;
    background-color: gray;
    position: fixed;
    opacity: .7;
    z-index: 11;
  }


  .staticText{
    font-family: MarkPro-Book;
    font-size: 12px;
    color:#234491 !important;
    white-space: normal;
  }
  .item{
    font-size: 14px !important;
    color:#234491 !important;

  }
  textarea.text-input{
    height: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

