<ion-header>
  <ion-toolbar>
    <ion-navbar text-center hideBackButton="true">
      <img navPop style="max-width: 30px;position: fixed;left: 16px" src="assets/imgs/back_button@3x.png">
      <img style="max-width: 40%" src="assets/imgs/yeni_firsat_ekle_text_18pt_markheavy@3x.png">
    </ion-navbar>
  </ion-toolbar>
</ion-header>



<ion-content padding>


  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-row margin-top>
      <ion-col col-auto style="padding-left: 16px">
        <span class="staticText">FİYAT</span>
      </ion-col>
      <ion-col>
        <input style="background: none;font-family: MarkPro-Heavy;font-size: 15px;color: #234491;border:none;width:100%" currencyMask [ngModel] name="deal_price" [options]="{ prefix: '₺', thousands: '.', decimal: ',' , align: 'left'}">
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label class="staticText">KATEGORİ *</ion-label>
      <ion-select required
                  [ngModel]
                  name="selectedCategory"
                  multiple="false">
        <ion-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="staticText">ŞEHİR </ion-label>
      <ion-select [ngModel]
                  name="selectedCity">
        <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="staticText">KUPON KODU</ion-label>
      <ion-input [ngModel] type="text"
                 name="deal_coupon_code"
                 [maxlength]="10"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="staticText">BAŞLIK *</ion-label>
      <ion-input [ngModel] = 'deal_title'
                 type="text"
                 required
                 name="deal_title" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="staticText">DETAYLAR *</ion-label>
      <ion-textarea [ngModel] ='deal_details'
                    required
                    name="deal_details" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="staticText">TARİH *</ion-label>
      <ion-datetime [ngModel]
                    required
                    displayFormat="DD MM, YYYY"
                    name="deal_date"></ion-datetime>
    </ion-item>
    <ion-row>
      <ion-col text-center>
        <button ion-button
        (click)="onTakePhoto()"
        clear
        type="button">
          <img style="width: 70%" src="assets/imgs/kamerayi-ac-button.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <img style="max-width: 250px;max-height: 250px" [src]="base64Image" *ngIf="base64Image"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button
                (click)="onOpenMap()"
                clear
                type="button">
          <img style="width: 70%" src="assets/imgs/konum-ekle-button.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLocationSet">
      <ion-col>
        <sebm-google-map
          [latitude]="location.ltt"
          [longitude]="location.lng"
          [zoom]="17">
          <sebm-google-map-marker [longitude]="location.lng"
                                  [latitude]="location.ltt">
          </sebm-google-map-marker>

        </sebm-google-map>
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col col-10 style="margin-left: auto;margin-right: auto;">
          <button ion-button
                  type="submit"
                  clear
                  [disabled]="!f.valid">
            <img src="assets/imgs/firsati_yarat_button@3x.png">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
