page-opportunity {
  //
  //.col{
  //   background: whitesmoke;
  //   border:  solid black;
  // }
  //div{
  //  background: whitesmoke;
  //  border:  solid blue;
  //}
@keyframes heartbeat
{
  0%
  {
    transform: scale( .95 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .95 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .95 );
  }
  100%
  {
    transform: scale( .95 );
  }
}

  .fa-heartbeat{
    animation: heartbeat 1s infinite;
    color:red;
  }

  .nickname{
    padding: 0px 0px 0px 0px !important;
    color: #222222;
  }
  .votes{
    padding: 0px 0px 0px 0px !important;
    font-size: x-small;
  }
  .thumbs{
    padding: 7px 0px 0px 0px !important;
  }
}


