page-opportunity {

  //.col{
  //  background: whitesmoke;
  //  border:  solid black;
  //}

  .nickname{
    padding: 0px 0px 0px 0px !important;
    color: #222222;
  }
  .votes{
    padding: 0px 0px 0px 0px !important;
    font-size: x-small;
  }
  .thumbs{
    padding: 7px 0px 0px 0px !important;
  }
}
