page-opportunity {
  //
  //.col{
  //   border:  solid black;
  // }
  //div{
  //  border:  solid blue;
  //}

  .scroll-content{
    background-image: url('../assets/imgs/bg_pattern@3x.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  ion-content{
    margin-top: 0px;
  }
  ion-icon.vote{
    font-size: 30px;
    color: #666666;
  }
  ion-list{
    padding: 0px !important;
    margin-top: 0px !important;
  }
@keyframes heartbeat
{
  0%
  {
    transform: scale( .95 );
  }
  20%
  {
    transform: scale( 1.15 );
  }
  40%
  {
    transform: scale( .95 );
  }
  60%
  {
    transform: scale( 1.15 );
  }
  80%
  {
    transform: scale( .95 );
  }
  100%
  {
    transform: scale( .95 );
  }
}

  .fa-heartbeat{
    animation: heartbeat 1s infinite;
    color:red;
  }


  #newlyAdded.highlighted {
    background-color: lightgoldenrodyellow;
    animation: toHighlight 10ms;
  }
  @keyframes toHighlight {
    0%
    {
      opacity: 0;
    }
    100%
    {
      opacity: 1;
    }
  }

  .nickname{
    padding: 0px 0px 0px 0px !important;
    color: #222222;
  }
  .votes{
    padding: 0px 0px 0px 0px !important;
    font-size: x-small;
  }
  .thumbs{
    padding: 7px 0px 0px 0px !important;
  }
  .text-input::-moz-placeholder {
    color: #5c5c5c;
  }

  .text-input:-ms-input-placeholder {
    color: #777777;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #747474;
  }

  .toLogoUp {
    animation: itemsUp .8s;
  }
  @keyframes itemsUp {

    0% {
    }
    100% {
      transform: translateY(-200px);
      opacity: 0;
    }

  }
  .toLogoDown{
    animation: itemsDown .8s forwards;
  }
  @keyframes itemsDown {

    0% {

      transform: translateY(-200px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }

  }


}


